<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="viewport" content="width=device-width" />

    <!-- Stylesheets -->
    <%- partial("css.html", css) %>

    <!-- Scripts -->
    <%- partial("js.html", javascript_head) %>

    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js" defer="defer"></script><![endif]-->
</head>
<body>
<%- helpers.flash() %>
<%- body %>
<!-- Scripts -->
<%- partial("js.html", javascript) %>
<%- helpers.fb() %>
</body>
</html>